.fullscreen-call-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.video-paper {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.video-avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-small {
  width: 200px;
  height: 150px;
  border-radius: 8px;
}

.avatar-hidden {
  display: none;
}

.avatar-visible {
  display: flex;
}

.video-controls {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 10px;
}

.video-control-btn,
.decline-call-btn {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.decline-call-btn {
  background: red;
}

.video-control-btn:hover,
.decline-call-btn:hover {
  opacity: 0.8;
}
